<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>selfrise</title>
</head>
<body>
<div style="text-align: center;">
    <img src="@routes.Assets.versioned("images/selfrise.png")"/>
</div>
<div style="text-align: center;">
    <a href="/leader"><img src="@routes.Assets.versioned("images/leader.png")"/></a>
</div>
<div style="text-align: center;">
    <a href="/member"><img src="@routes.Assets.versioned("images/members.png")"/></a>
</div>

</body>
</html>